@import url('https://fonts.googleapis.com/css2?family=Copse&display=swap');
body {
    margin: 0;
}
/*NAVBAR*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #E8E2DA;
    height: 10rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Copse', serif;
    font-size: 30;
}

nav a:hover {
    text-decoration: underline;
}

nav a img {
    height: 8.5rem;
    background: inherit;
}

.logoProfil {
    height: 5rem;
}

.card{
    width: 15%;
    height: 25%;
}

.card img{
    width: 100%;
}

